body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #171717;
    line-height: 1.6;
}


#encabezado ul li {
    display: inline;
    margin: 0px 100px;
}

main {
    display: flex;
    padding: 20px;
    margin: 20px;
    border-bottom:3px solid black ;

}

.profile {
    padding-left: 20px;
    padding-right: 10px;
    text-align: justify;
    width: 70%;

}

.name {
    width: 30%;
    height: 50%;
    font-size: xx-large;
    padding-left: 10px;
    
}

.name h2{
    background-color: #fab890;
    color: rgb(84, 84, 84);
    font-weight: bold;
    text-align: center;
    font-size: xx-large;
    

}

.general {
    background-color: white;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;

}


.container {
    display: flex;
    border-bottom: 3px solid black;
    padding-bottom: 30px;

}

.container h4 {
    color: rgb(19, 18, 18);
    font-weight: 500;

}

.container-element {
    padding: 25px 25px 25px 0px;
    width: 50%;
    text-align: justify;

}

.border { 
    padding-left: 25px;
    border-left: 3px solid black;

} 

#skills {

    padding: 20px;
    margin: 20px;
    border-bottom:3px solid black ;

}


.progress-bar {

    font-weight: bold;

}

.progress-bar-element {
    display: flex;
    background-color: lightgrey;
    width: 80%;
    height: 100%;
    box-sizing: 70%;
    border-radius: 12px;
}

.progress-bar-element-2 { 
    display: flex;
    background-color: #171717;
    height: 100%;
    width: 40%;

}




.hobbies{
    padding: 20px;
    margin: 20px;
    width: 80%;
    height: 30%;

}


.table td {
    border-radius: 20px;
    margin: 10px;
    padding-left: 30px;
    padding-right: 30px;

}
