body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    line-height: 1.6;
}


#encabezado ul li {
    display: inline;
    margin: 0px 100px;
}

main {
    display: flex;
    padding: 20px;
    margin: 20px;
    border-bottom:3px solid black ;

}

.profile {
    padding-left: 20px;
    padding-right: 10px;
    text-align: justify;
    width: 70%;

}

.name {
    width: 30%;
    height: 50%;
    font-size: x-large;
    padding-left: 10px;
    
}

.name h2{
    background-color: #f4c7ab;
    color: grey;
    font-weight: bold;
    text-align: left;

}

.general {
    background-color: white;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;

}



.container {
    display: flex;
    border-bottom: 3px solid black;
    padding-bottom: 30px;

}

.container-element {
    padding: 25px 25px 25px 0px;
    width: 50%;
    text-align: justify;

}

.border { 
    padding-left: 25px;
    border-left: 3px solid black;

} 
